<html ng-app="sequenceApp">

<head>
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body>
    Hello Drum Machine
    <div class="sequencer" ng-controller="SequencerControl">

        <span class="startButton" ng-click="start()">Start</span>
        <span class="stopButton" ng-click="stop()">Stop</span>
        <input type="text" ng-model="tempo">

        <ul>
            <li ng-repeat="key in getKeys(sequences)" ng-init="sequence = sequences[key]">
                <span>{{sequence.name}}</span>
                <span class="sequence" ng-repeat="beat in sequence.pattern track by $index">
                    <span class="beat" ng-click="toggleBeat(sequence.name, $index)">{{beat}}</span>
                </span>
                
            </li>
        </ul>
    </div>

</body>
</html>