<html ng-app="sequenceApp">
<head>
    <title>nothingsoundsquitelikean - 808alike drum machine</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
    <h1>nothing sounds quite like an</h1>
    <div class="sequencer" ng-controller="SequencerControl">
        <div class="controls">
                <span class="startButton" ng-click="start()">start</span> |
                <span class="stopButton" ng-click="stop()">stop</span> | 
                <input type="text" class="tempo" ng-model="tempo"> bpm
        </div>
        <ul class="track-list">
            <li ng-repeat="key in getKeys(sequences)" ng-init="sequence = sequences[key]">
                <span class="sequence" ng-repeat="beat in sequence.pattern track by $index">
                    <span class="beat" ng-class="{playing: checkIndex($index)}" ng-click="toggleBeat(sequence, $index)">{{beat}}</span>
                </span>
                <input class="gain" ng-model="sequence.gain" min ="0.0" max="1.0" step ="0.05" type="range"/>
            </li>
        </ul>
    </div>
</body>
</html>